* {
  box-sizing: border-box;
  font-family: "Lucida Sans", sans-serif;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  justify-items: center;
  margin-top: 2%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.header {
  display: grid;
  background-color: #d5aabe;
  color: #ffffff;
  padding: 15px;
  border-radius: 10px;
}

.menu{
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 5px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu li {
  padding: 15px;
  margin-bottom: 7px;
  background-color: #d5aabe;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}

.menu li:hover {
  background-color: #c1839f;
}
.menu li a {
  text-decoration: none;
  color: #ffffff;
}

.aside {
  background-color: #d5aabe;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}

.footer {
  background-color: #d5aabe;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  border-radius: 10px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}


@media only screen and (min-width: 600px) {
  /* For tablets: */
  .navbar ul {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  .row {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1%;
  margin-bottom: 10px;
  gap: 10px;
}

.line {
  text-align: center;
}
  
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .navbar ul {
    grid-template-columns: repeat(auto-fit, minmax(120px, 3fr));
 
  }

  .row {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }



.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1%;
  margin-bottom: 10px;
  gap: 10px;
}

.line {
  text-align: center;
}
}